:root {
  --color-black: #010101;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 10vh;
  min-height: 100vh;
}

.menu__item,
.item-link {
  position: relative;
  border: 1px solid red;
}

svg {
  display: block;
  color: var(--color-black);
  font-family: sans-serif;
  font-weight: 700;
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

svg text {
  transform-origin: 0% 0%;
  transform-box: view-box;
  opacity: 1;
}

.item-link svg text:nth-of-type(2) {
  opacity: 0;
}

/* svg g {
  transform: translate(40%, 75%);
} */

.menu,
.navigation {
  width: 300px;
  min-height: 300px;
  display: grid;
  text-align: center;
}